<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
	<style>
		.column{
		margin-left:50px;
		}
	</style>
    <body>
		    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/delivery">Local market</a>
				<a class="navbar-brand" href="/delivery">Home</a>
				<a class="navbar-brand" href="/deliveryaddresses">View orders<span><%= length %></span></a>
				<a class="navbar-brand" href="/deliveryreturned">View returned orders<span><%= returnlength %></span></a>
				<a class="navbar-brand" href="/deliveryreplaced">View replaced orders<span><%= replacelength %></span></a>
				<a class="navbar-brand" href="/deliverycancel">View canceled orders<span><%= cancel.length %></span></a>
            </div>
				</div>
		</nav>
	</body>
</html>